@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;

}

.container1 {
    background-color: #002159;
    height: 130vh;
    width: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.head {
    font-size: 25px;
    font-family: "Roboto";
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.icon {
    color: white;
    height: 25px;
    width: 25px;
    padding-top: 10px;
    padding-left: 10px;

}

.head1 {
    font-size: 15px;
    font-family: "Roboto";
    font-weight: normal;
    color: #ffffff;
    padding-left: 10px;
}

.item1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #296eff;
    height: 35px;
    margin: 10px;
}

.img {
    height: 45px;
    width: 45px;
    background-size: cover;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50%;
}

.img {
    border-radius: 25px;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    overflow-y: auto;
}

.head2 {
    font-size: 30px;
    color: #002159;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto";
}

.head3 {
    font-size: 20px;
    color: #002159;
    font-weight: bold;
    text-align: left;
    font-family: "Roboto";
}

.card-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img1 {
    height: 80px;
    width: 80px;
    background-size: cover;
    margin: 5px;
}
